/* 
 * index.css: style handling for index.html
 * Author: Team Flerdi, Kai Müller
 */
 
div.node_visualisation{
	position: absolute;
	display: block;
	height: 150px;
	width: 150px;
	z-index: 2;
	text-align: center;
	background-image: url(assets/pictures/node.png);
}