/* 
 * index.css: style handling for index.html
 * Author: Team Flerdi, Kai Müller
 * 
*/
 
div.node_visualisation{
	position: absolute;
	display: block;
	height: 150px;
	width: 150px;
	z-index: 2;
	text-align: center;
	background-image: url(assets/pictures/node.png);
}

div.key{
	display: block;
	position: fixed;
	z-index: 1;
	width: 500px;
	height: 250px;
	background-image: url(assets/pictures/key/key-bg.png);
}

div.key div.keyDragger{
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	width: 500px;
	height: 15px;
	background-image: url(assets/pictures/key/key-top.png);
	cursor: move;
}

div.nodeDragger{
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	width: 150px;
	height: 150px;
	background-image: url(assets/pictures/node.png);
	cursor: move;
}

div.key div.keyCloser {
	position: absolute;
	top: 1px;
	right: 10px;
	background: orange;
	cursor: pointer;
	border: 1px solid blue;
	z-index: 3000;
	width: 30px;
	height: 10px;
}

div.line{
  transform-origin: 0 100%;
  height: 3px;
  background: #000;
}

#yaml_datei{
	display: block;
	position: absolute;
	bottom: 5px;
}

#save_button{
	display: block;
	position: absolute;
	bottom: 5px;
	left: 450px;
}
